@charset "UTF-8";
@import url(reset.css);

* {
    box-sizing: border-box;
}

body {
    background-color: rgb(230, 230, 230);
}

header {
    background-color: #ffffff;
    margin-bottom: 2%;
    border-bottom: 3px solid #000000;
}

header .headerWrap {
    display: flex;
    justify-content: space-between;
    width: 1152px;
    margin: auto;
    align-items: center;
    height: 100px;
    position: relative;
}

nav {
    width: 600px;
    position: absolute;
    right: 0;
    bottom: 0;
}

nav ul {
    display: flex;
    justify-content: space-between;
}
nav a {
    display: block;
}

nav ul li:nth-child(1) a {
    background-image: url(../images/menu.gif);
    width: 83px;
    height: 60px;
    background-position: 7px 0px;
}

nav ul li:nth-child(1) a:hover {
    background-position: 0 -70px;
}
nav ul li:nth-child(2) a {
    background-image: url(../images/menu.gif);
    width: 103px;
    height: 60px;
    background-position: -98px 0px;
}
nav ul li:nth-child(2) a:hover {
    background-position: -92px -70px;
}

nav ul li:nth-child(3) a {
    background-image: url(../images/menu.gif);
    width: 58px;
    height: 60px;
    background-position: -209px 0;
}
nav ul li:nth-child(3) a:hover {
    background-position: -205px -70px;
}
nav ul li:nth-child(4) a {
    background-image: url(../images/menu.gif);
    width: 77px;
    height: 60px;
    background-position: -279px 0;
}
nav ul li:nth-child(4) a:hover {
    background-position: -273px -70px;
}

/* HEADER --------------------------------------------------------- */

.wrap {
    display: flex;
    width: 1152px;
    margin: auto;
}


#sect1 {
    width: 640px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#sect1>div {}

#sect1 .container {
    width: 200px;
    height: 200px;
    margin-bottom: 10px;
    background-position: center;
    background-size: cover;
    position: relative;
    cursor: pointer;
}

#sect1 .container>div {
    background-position: center;
    background-size: cover;
    padding-top: 100%;
}

#sect1 .container:hover .backBg,
#sect1 .container:hover .desc {
    display: block;
}

#sect1 .desc {
    text-align: center;
    position: absolute;
    top: 60%;
    color: #ffffff;
    display: none;
}

#sect1 .backBg {
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #000000c6;
    position: absolute;
    display: none;
}


#sect1 .notice h2 {
    font-size: 25px;
}

#sect1 .row5 {
    padding: 2%;
    width: 410px;
    margin-bottom: 10px;
    background-color: #fff;
}

#sect1 .row5 li {
    margin: 2% 0;
    border-bottom: 1px solid #000000;
}

#sect1 .row5 p {
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
}

#sect1 .row5 span {
    float: right;
}

#sect1 .bg1 {
    background-image: url(../images/sect1\ \(1\).jpg);
}

#sect1 .bg2 {
    background-image: url(../images/sect1\ \(1\).png);
}

#sect1 .bg3 {
    background-image: url(../images/sect1\ \(2\).png);
}

#sect1 .bg4 {
    background-image: url(../images/sect1\ \(3\).png);
}

#sect1 .bg6 {
    background-image: url(../images/sect1\ \(4\).png);
}

#sect1 .bg7 {
    background-image: url(../images/sect1\ \(5\).png);
}

#sect1 .bg8 {
    background-image: url(../images/sect1\ \(6\).png);
}

#sect1 .row9 {
    width: 410px;
    margin-bottom: 10px;
    background-image: url(../images/bg_customer_center.gif);
    background-position-x: -30px;
}

#sect1 .row9:hover {
    background-position-y: -206px;
}

#sect1 .bg10 {
    background-image: url(../images/sect1\ \(7\).png);
}

/* SECT1 --------------------------------------------------------- */


#sect2 {
    width: 552px;
    padding: 0 10px;
}

#sect2 .logIn {
    display: flex;
    margin-bottom: 20px;
}

#sect2 input[type=text] {
    width: 350px;
    height: 60px;
    display: block;
    padding-left: 20px;
}

#sect2 input[type=submit] {
    width: 139px;
    height: 120px;
    margin-left: 20px;
    color: #ffffff;
    background-color: rgb(70, 70, 70);
    border: none;
    font-size: 20px;
    cursor: pointer;
}

#sect2 input[type=checkbox] {
    width: 10px;
    height: 10px;
}

#sect2 label {
    margin-left: -5px;
}

#sect2 label span {
    font-size: 14px;
}

#sect2 .rightMenu {
    display: inline-block;
    float: right;
}

#sect2 .rightMenu span {
    font-size: 14px;
    cursor: pointer;
}

#sect2 .rightMenu span:hover {
    color: blue;
}

#sect2 .gps {
    margin: 30px 0;
    padding: 2% 5%;
    background-color: #dcdcdc;
}

#sect2 .gpsIcon {
    background-image: url(../images/gps.gif);
    height: 22px;
    background-repeat: no-repeat;
    display: inline-block;
    width: 20px;
    vertical-align: middle;
}

#sect2 .gps span {
    margin-right: 20px;
}

#sect2 .banner1 {
    background-image: url(../images/sect2\ \(1\).jpg);
    padding-top: 50%;
    background-size: cover;
    background-position: center;
}
#sect2 .banner2 {
    background-image: url(../images/sect2\ \(2\).jpg);
    padding-top: 50%;
    background-size: cover;
    background-position: center;
}

#sect2 .faq {
    padding: 1% 5%;
    background-color: rgb(56, 56, 56);
}

#sect2 h4 {
    color: #ffffff;
}

#sect2 .faq p {
    color: #ffffff;
    font-size: 12px;
}

/* SECT2 --------------------------------------------------------- */

footer {
    height: 100px;
    background-color: rgb(0, 0, 0);
    margin-top: 2%;
    text-align: center;
    line-height: 100px;
    color: #ffffff;
    font-size: 14px;
}
/* FOOTER --------------------------------------------------------- */

/* 모바일 */
@media screen and (max-width:767px) {
    /* SECT1 --------------------------------------------------------- */
    /* SECT2 --------------------------------------------------------- */
    /* FOOTER --------------------------------------------------------- */
}

/* 태블릿 */
@media screen and (min-width:768px) {
    /* SECT1 --------------------------------------------------------- */
    /* SECT2 --------------------------------------------------------- */
    /* FOOTER --------------------------------------------------------- */
}

/* 데스크탑 */
@media screen and (min-width:1288px) {
    /* SECT1 --------------------------------------------------------- */
    /* SECT2 --------------------------------------------------------- */
    /* FOOTER --------------------------------------------------------- */
}