* {
    box-sizing: border-box;
}

.content {
    width: 80%;
    margin: 0 auto;
    /* border: 1px solid red; */
}

.sec1 {
    background-image: url(/0311iPhone/img/4k-apple-logo-metal-grid-art-apple.jpg);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: -100px;
}

.sec1 h1 {
    background-color: #ffffff;
    padding: 5px 20px;
    display: inline-block;
    top: 0;
    left: auto;
}

.sec1 .row {
    text-align: center;
    /* display: inline-block; */
    
}

/* 섹션1 */

.sec2 {
    text-align: center;
}

.sec2 img {
    width: 470px;
}

.sec2 .row {
    padding: 50px 0;
}

.sec2 h1 {
    font-size: 40px;
}

.sec2 p {
    font-style: italic;
    color: #505050;
}

/* 섹션2 */

.sec3 {
    background-image: url(/0311iPhone/img/family_photo-1920x1024.jpg);
    height: 50vh;
    background-size: cover;
}

/* 섹션3 */

.sec4 {
    text-align: center;
    padding: 50px;
}

.sec4 h1 {
    font-size: 50px;
}

.sec4 h2 {
    font-size: 20px;
}

.sec4 p {
    padding: 30px;
}
.sec4 .desc {
    font-size: 25px;
    font-weight: bold;
}
.row1 {
    /* background-image: url(/0311/img/maxresdefault.jpg);
    background-size: cover;
    background-position-y: -80px;
    height: 282px; */
}
/* 섹션4 */

.sec5 {
    background-image: url(/0311iPhone/img/family_photo-1920x1024.jpg);
    height: 20vh;
    background-size: cover;
    background-position-y: -500px;
    background-repeat: no-repeat;
}

/* 섹션5 */